/* Font globale */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@300&display=swap');

/* Stile generale */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #2c2f33, #23272a);
    color: #d1d1d1;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #1c1e22 !important;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 3rem; /* Aumenta la dimensione del logo IDP */
    color: #f5f5f5 !important;
    margin-right: 30px; /* Distanza tra IDP e il resto */
}

.nav-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #f5f5f5 !important;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid transparent; /* Aggiungi un bordo trasparente per non disturbare il layout */
    border-radius: 5px; /* Angoli arrotondati */
    transition: all 0.3s ease;
}

.nav-link:hover {
    border: 2px solid white; /* Bordo bianco al passaggio del mouse */
    color: white; /* Cambia il colore del testo al passaggio del mouse */
}

/* Bottone */
.btn-primary {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    padding: 15px 40px;
    background-color: #44474d;
    border: none;
    border-radius: 50px;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    background-color: #555960;
    transform: scale(1.1);
}

/* Contenitore centrale */
.d-flex {
    text-align: center;
    background: #1f2023;
    padding: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
